name: layanan_fasilitas_kampus
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.0
  shared_preferences: ^2.3.5
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/usu_logo.png
    - assets/usuu.jpg
    - assets/fakultas.jpg
    - assets/masjid.jpg
    - assets/perpus.jpg
    - assets/poli.jpg
    - assets/kantin.jpg
    - assets/peta.jpg
    - assets/kampus_usu.jpg
    - assets/fakultas-ilmu-budaya.webp
    - assets/auditorium.webp
    - assets/masjid_ar-rahman.jpg
    - assets/perpustakaan.jpeg
    
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700